.filtersCard {
  background: white;
  padding: 24px;
  border-radius: 12px;

  max-width: 100%;
}

.filterSection {
  margin-bottom: 24px;
}

.sectionTitle {
  font-size: 16px;
  font-weight: 500;
  margin-top: 40px;
  margin-bottom: 32px;
  color: #475467;
}
.sectionTitleLocation {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #6c717b;
}
.subsectionTitle {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 12px;
  color: #101828;
  border-bottom: 1px solid #d0d5dd;
  padding-bottom: 24px;
}

.locationInputWrapper {
  position: relative;
}

.locationInput {
  border: none;
  border-radius: 12px;
  padding: 18px 218px 18px 20px;
  width: 360px;
  height: 56px;

  border-radius: 8px;
  font-size: 16px;
  background: #f7f7f7;
}

.locationInputWrapper {
  position: relative;
}

.locationInputIcon {
  position: absolute;
  top: 16px;
  left: 20px;
  width: 20px;
  height: 20px;
  pointer-events: none;
}

.locationInput {
  width: 100%;
  padding: 16px 48px;

  border-radius: 8px;
  font-size: 16px;
}

.locationInput:focus {
  outline: none;
}

.locationInput:focus ~ .locationInputIcon {
  filter: brightness(0) saturate(100%) invert(5%) sepia(10%) saturate(3200%)
    hue-rotate(192deg) brightness(97%) contrast(93%);
}
.equipmentGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
  margin-bottom: 32px;
}

.vehicleTypeGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
  margin-bottom: 40px;
}

.equipmentButton,
.typeButton {
  width: 112px;
  height: 96px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 12px;
  border: 1px solid #e3e3e3;
  border-radius: 8px;
  background: white;
  cursor: pointer;
  transition: all 0.2s;
  gap: 4px;
}

.icon {
  width: 32px;
  height: 32px;
  color: #121417;
}

.equipmentButton span,
.typeButton span {
  font-size: 16px;
  color: #121417;
}

.active {
  background: #f2f4f7;
  border-color: #0b44cd;
}

.active .icon {
  color: #0b44cd;
}

.active span {
  color: #0b44cd;
}

.searchButton {
  width: 166px;
  height: 56px;
  background: var(--button-red);
  color: white;
  border: none;
  border-radius: 200px;
  padding: 16px 60px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  transition: background 0.2s;
}

.searchButton:hover {
  background: var(--button-hover-red);
}

.searchButton:disabled {
  background: #b4b4b4;
  cursor: not-allowed;
}
