.container {
  padding: 20px;
}

.gridContainer {
  flex-direction: row;
  display: flex;
  grid-template-columns: 300px 1fr;
  gap: 24px;
}
.campersSection {
  flex-direction: column;
  display: flex;
}
.campersGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}

.loadMoreButton {
  width: 145px;
  margin-top: 24px;
  padding: 12px;
  background-color: transparent;
  color: #101828;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 16px;
  align-self: center;
  border: 1px solid #dadde1;
  border-radius: 200px;
  transition: border-color 0.3s;
}
.loadMoreButton:hover {
  border-color: #d84343;
}
.loadMoreButton:disabled {
  cursor: not-allowed;
}
